
<div class="col-md-12">
  <h2>Crear dia de la semana</h2>
</div>

<div class="col-md-12">
  <form>

    <div class="form-group col-md-6">
      <label for="exampleInputDia">Dia de la semana</label>
      <input type="text" class="form-control" id="exampleInputDia" ng-model="weekd.day" placeholder="{{weekd.day}}" required>

      <label for="exampleInputReference">Referencia de ubicacion</label>
      <input type="text" class="form-control" id="exampleInputReference" ng-model="weekd.ref" placeholder="{{weekd.ref}}" required>
    </div>

    <div class="form-group col-md-5 col-md-offset-1">
      <label for="exampleInputReference">Acciones</label>
      <div>
        <button type="submit" class="btn btn-success" ng-click="crearDias();">Crear</button>
        <button type="button" class="btn btn-info" ui-sref="home.config.dias">Cancelar</button>
      </div>
    </div>

  </form>
</div>

<div class="col-md-12">
  <button type="button" class="btn btn-info" ui-sref="home.config.dias">Volver</button>
</div>
