
<div>
  <div>
    <h3>Tercer trimestre 2016 MATUTINA DE JOVENES - #VISITA MI MURO</h3>
    <!--dia y fecha-->
    <h2>DAAomingo 03 Julio</h2>
  </div>

  <div class="text-center">
    <!--versiculo de memoria-->
    <div class="vers">
      <p>"Por la bondad de Dios han recibido ustedes la salvación."</p>
    </div>

    <!--texto biblico-->
    <div class="texto">
      <h2>(Efesios 2:5).</h2>
    </div>
  </div>

  <div>
      <a class="btn btn-success" ui-sref="home.tablero" role="button">Volver al tablero</a>
  </div>

</div>
