
.dropdown:hover .dropdown-menu {
    display: block;
 }
.thumbnail{
    width: 200px;
    height: 300px;
    overflow: auto;
}

.thumbnail img{
    width: 150px;
    height: 120px;
}
.center{
    text-align: center;
}

.botoncito {
  float: left;
  height: auto;
  width: 14.28571428571429%;
}
.botoncito a {
  width: 90%;
  height: 60px;
}
/*
.container div .row {
  background: black;
}
*/

.header {
  position: relative;
  top: 4px;
}
.header a {
  margin: 3px;
}
.header .btn-success{
  background: green;
}
.header .btn-danger{
  background: black;
  border-color: #628259;
}

.row a {
  /**/
  width: 12%;
  margin: 2px;
}
.row #tablero h1 {
  /**/
  font-size: 90px;
  color: #036920;
  text-decoration: underline;
  font-style: italic;
}
.weekdays a {
  font-size: 20px;
}
.vers p {
  font-size: 70px;
}
.superBack {
  position: absolute;
  background: black;
  height: 50px;
  width: 100%;
}
.superFront {
  position: absolute;
  background: green;
  height: 30px;
  width: 93.849%;
  top: 10px;
  opacity: 0.4;
  padding: 0px;
  margin: 0px;
  margin-left: 3.0755%;
  margin-right: 3.0755%;
}

/*
.container {
  background: black;
}
.header {
  background: lightgreen;
}
.header a {
  background: red;
}*/
