
<div class="col-md-2"></div>

<div class="col-md-8">
  <h3>
    Tercer trimestre 2016<br>MATUTINA DE JOVENES - #VISITA MI MURO<br>
  </h3>
  <!--dia y fecha-->
  <h2>
    Jueves<br>07<br>Julio<br>
  </h2>

  <div class="col-md-12"><br><br><br></div>

  <!--versiculo de memoria-->
  <div class="text-center">
    <h1>"No tengas envidia [...]; antes bien, honra siempre al Señor."</h1>
  </div>

  <!--texto biblico-->
  <footer class="text-center">
    <h2>(Proverbios 23:17).</h2>
  </footer>

  <div class="col-md-12"><br><br><br></div>

  <div class="col-md-12 text-center">
      <a class="btn btn-success" ui-sref="home.tablero" role="button">Volver al tablero</a>
  </div>
</div>
