
<div>
  <div>
    <h3>Tercer trimestre 2016 MATUTINA DE JOVENES - #VISITA MI MURO</h3>
    <!--dia y fecha-->
    <h2>Martes 05 Julio</h2>
  </div>

  <div class="text-center">
    <!--versiculo de memoria-->
    <div class="vers">
      <p>"Elijan hoy a quién van a servir. [...] Por mi parte, mi familia y yo serviremos al Señor."</p>
    </div>

    <!--texto biblico-->
    <div class="texto">
      <h2>(Josué 24:15).</h2>
    </div>
  </div>

  <div>
      <a class="btn btn-success" ui-sref="home.tablero" role="button">Volver al tablero</a>
  </div>

</div>
