
<div>
  <div>
    <h3>Tercer trimestre 2016 MATUTINA DE JOVENES - #VISITA MI MURO</h3>
    <!--dia y fecha-->
    <h2>Miércoles 06 Julio</h2>
  </div>

  <div class="text-center">
    <!--versiculo de memoria-->
    <div class="vers">
      <p>"Ustedes son mis amigos."</p>
    </div>

    <!--texto biblico-->
    <div class="texto">
      <h2>(Juan 15:14).</h2>
    </div>
  </div>

  <div>
      <a class="btn btn-success" ui-sref="home.tablero" role="button">Volver al tablero</a>
  </div>

</div>
