
<div>
  <div>
    <h3>Tercer trimestre 2016 MATUTINA DE JOVENES - #VISITA MI MURO</h3>
    <!--dia y fecha-->
    <h2>Viernes 08 Julio</h2>
  </div>

  <div class="text-center">
    <!--versiculo de memoria-->
    <div class="vers">
      <p>"Los entendidos resplandeceran como el resplandor del firmamento; y los que enseñan la justicia a la multitud, como las estrellas, perpetua eternidad."</p>
    </div>

    <!--texto biblico-->
    <div class="texto">
      <h2>(Daniel 12:3).</h2>
    </div>
  </div>

  <div>
      <a class="btn btn-success" ui-sref="home.tablero" role="button">Volver al tablero</a>
  </div>

</div>
